---
const article = [
  {
    name: 'Note',
    description: 'Places that publicize non-technical matters such as philosophy, vision, and mission statements.',
    icon: '/assets/Note.webp',
    action: 'https://note.com/cor_instrument',
  },
  {
    name: 'Qiita',
    description: 'Mainly where We write about how to use technologies such as frameworks and libraries.',
    isFlagged: true,
    icon: '/assets/Qiita.webp',
    action: 'https://qiita.com/terisuke',
  },
  {
    name: 'Zenn',
    description: 'Mainly where We write tutorials on newly introduced technologies.',
    icon: '/assets/Zenn.webp',
    action: 'https://zenn.dev/terisuke',
  },
];
const youtube = [
  {
    name: 'Youtube',
    description: "Where we provide our company's materials that can be visually understood, such as actually created materials and video explanations.",
    isFlagged: true,
    icon: 'public/assets/Youtube.webp',
    id: ['b7lXhk2EUss', 'Sd9_nkv_4Aw'],
  },
];
---
<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="-mt-8 grid gap-8 lg:mt-0 lg:grid-cols-3">
      {
        article.map((item) => (
          <div
            class:list={[
              'relative flex flex-col gap-8 rounded-3xl p-8',
              item.isFlagged && 'bg-primary-500/10 dark:bg-primary-400/10',
            ]}
          >
            <div class="flex-1">
              <img
                class="mx-auto"
                src={item.icon}
                alt={item.name}
              />
              <div class="py-6"></div>
              <h2 class="text-4xl font-medium text-center">{item.name}</h2>
              <p class="text-primary-950/70 dark:text-primary-200/70 mt-6">{item.description}</p>
              <p class="text-primary-950/70 dark:text-primary-200/70 mt-6">{item.description}</p>
            </div>
            <a
              href={item.action}
              target="_blank"
              rel="noopener noreferrer"
              class="bg-primary-600 dark:bg-primary-400 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex w-full items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
            >
              Go {item.name}
            </a>
          </div>
        ))
      }
    </div>
    <div class="py-16"></div>
    <div class="-mt-8 grid gap-8 lg:mt-0 lg:grid-cols-1">
      {
        youtube.map((item) => (
          <div
            class:list={[
              'relative flex flex-col gap-8 rounded-3xl p-8',
              item.isFlagged && 'bg-primary-500/10 dark:bg-primary-400/10',
            ]}
          >
            <div class="flex-1">
              <iframe id="player" class="flex-1 aspect-video w-full"
                src={`https://www.youtube.com/embed/${item.id[Math.floor(Math.random() * item.id.length)]}`}></iframe>
              <div class="py-4"></div>
              <h2 class="text-4xl font-medium text-center">{item.name}</h2>
              <p class="text-primary-950/70 dark:text-primary-200/70 mt-6 text-center">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>